.split {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    /* main  section */
    margin: 0 10%;
    padding: 0 30px
}

.timeGap {
    /* font-size: 18px; */
    font-size: 1vw;
    padding: 20px 0;
}


h3 {
    /* font-size: 20px; */
    font-size: 1.3vw;
    /* margin-bottom: 0; */
}

h3 i {
    /* font-size: 20px; */
    font-size: 1.2vw;
}

.container hr {
    margin-top: 0;
    border: 3px solid #000000;
}

.temp {
    padding: 10%;
}
