h1 {
    margin-left: 2%;
}

h3 {
    font-family: helvetica;
}

.footer {
    background-color: #F7F7F7;
}

.footer-owner {
    font-size: 1vw;
    font-family: helvetica;
    margin: 0 10%;
    padding: 0 30px;
}

.socialNetwork {
    margin-top: 10px;
}

/* Adapt size */
.socialNetwork img {
    width: 1.5vw;
    height: 1.5vw;
}

#time {
    font-size: 1vw;
    color: #5f0001;
    text-align: center;
}

/* Hide the hyper link's underline */
a {
    text-decoration: none;
}
