h1 {
    margin-left: 2%;
}

h3 {
    font-family: helvetica;
}

.footer {
    background-color: #F7F7F7;
}

.footer-owner {
    font-size: 13px;
    font-family: helvetica;
    margin: 0 10%;
    padding: 0 30px;
}

.socialNetwork {
    margin-top: 10px;
}

.socialNetwork img {
    width: 32px;
    height: 32px;
}

#time {
    text-align: center;
}
