.gallery-section {
    margin: 0 10%;
    padding: 0 30px;
}

.inner-width {
    margin: auto;
}

.gallery-section .gallery {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.gallery-section .image {
    flex: 25%;
    overflow: hidden;
}

.gallery-section img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-height: 90%;
    max-width: 90%;
    transition: 0.4s;
}

.inner-width img:hover {
    transform: scale(1.2) rotate(10deg);
}

@media screen and (max-width: 960px) {
    .gallery-section .image {
        flex: 33.33%;
    }
}

@media screen and (max-width: 720px) {
    .gallery-section .image {
        flex: 50%;
    }
}

@media screen and (max-width: 480px) {
    .gallery-section .image {
        flex: 100%;
    }
}
