body {
    margin: 0;
}

.fixed-header {
    padding-right: 16px;
    padding-left: 16px;
    position: fixed;
    margin: 0;
    align-items: center;
    background-color: #000000;
    width: 100%;
}

.fixed-header-logo img {
    float: left;
    display: flex;
    height: 70px;
    width: 126px;
}

.fixed-header-nav {
    float: right;
    display: flex;
    /* Fully show the navigator */
    padding-right: 25px;
}

.fixed-header-nav li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.fixed-header-nav a {
    font-family: helvetica;
    display: flex;
    color: #875646;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

/* Show the space that mouse at */
.fixed-header a:hover {
    background-color: #ffffac;
}

.header h1 {
    /* set the backgroudn image */
    background-image: url(../Images/headBackGroud.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: top;
    margin: 0;
}

.header .font {
    /* move the head to top left position */
    padding-top: 12%;
    /* padding-bottom: 425px; */
    padding-bottom: 30%;
    padding-left: 5%;
    color: #fff8d4;
    font-size: 50px;
    font-family: times;
}

h1 {
    font-family: helvetica;
}

.leftPersonal {
    width: 55%;
    float: left;
    padding-left: 20px;
    /* background-color: yellow; */
}

.rightSiteMap {
    width: 39%;
    float: right;
    /* background-color: pink; */
}

.myTable th {
    height: 50px;
    font-size: 20px;
    background-color: #ffffff;
}

.myTable td {
    height: 30px;
}

.myTable td:hover {
    background-color: #ffffff;
}
