body {
    margin: 0;
    font-size: 0.9vw;
}

.fixed-header {
    padding: 0 16px;
    position: fixed;
    margin: 0;
    align-items: center;
    /* Glass style */
    background-color: rgba(14, 14, 14, 0.7);
    width: 100%;
}

.fixed-header-logo img {
    float: left;
    display: flex;
    height: 4vw;
    width: 5.7vw;
}

.fixed-header-nav {
    float: right;
    display: flex;
    /* Fully show the navigator */
    padding-right: 25px;
}

.fixed-header-nav li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.fixed-header-nav a {
    font-size: 1.5vw;
    font-family: helvetica;
    display: flex;
    color: #875646;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

/* Show the space that mouse at */
.fixed-header a:hover {
    background-color: #ffffac;
}

.header h1 {
    /* set the backgroudn image */
    background-image: url(../Images/headBackGroud.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin: 0;
}

.header .font {
    /* move the head to top left position */
    padding-top: 10%;
    padding-bottom: 30%;
    padding-left: 5%;
    color: #fff8d4;
    font-size: 3.5vw;
    font-family: times;
}

.split {
    display: flex;
    /* main  section */
    margin: 20px 10%;
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
}

.leftSplit {
    margin: 5px 0;
    margin-right: 5%;
    width: 50vw;
}

.rightSplit {
    margin: 0px 2px;
}

.description {
    line-height: 1.3;
}
