.myTable {
    margin: 50px 10% 20px 10%;
    padding: 0 10%;
}

.myTable th {
    text-align: center;
    height: 50px;
    font-size: 20px;
    background-color: #ffffff;
}

.myTable td {
    text-align: center;
    height: 30px;
}
