body {
    font-size: 1vw;
}

.myTable {
    margin: 50px 10% 20px 10%;
    padding: 0 10%;
}

.myTable th {
    text-align: center;
    height: 50px;
    font-size: 20px;
    background-color: #ffffff;
}

.myTable td {
    padding-top: 0.9vw;
    padding-left: 10px;
    text-align: center;
    font-size: 16px;
    height: 30px;
}
