.myTable {
    margin: 20px 30px;
}

.myTable table tr td{
    border: 1px solid #000000;
}

.tableFilter {
    font-size: 13px;
    font-family: helvetica;
    margin: 0 10%;
    padding: 0 30px;
}

.
